* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FBF8EC;
  color: #414141;
  margin: 0;
  padding: 0;  
}
header {
  background-color:#FFFFFF;
  width:100%;
  margin:0px auto;
}

::placeholder {
  color: #999; 
  font-size: 16px; 
  font-weight: 400; 
}

.nav {
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  width: 1208px;
  margin:0px auto;
}
.nav ul {
  display: flex;
  list-style: none;
  align-items: center; 
}

.nav-item {
  list-style-type: none;
  margin-right: 26px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 400;
}

.button-lines p {
  font-size: 16px;
  font-weight: 400px;
}
.logo-name {
  font-weight: 800;
  padding-bottom: 3.5px;
  font-size:18px;
}

.logo {
  padding-top: 7px;
  margin-right:12px;
}

.search {
  width: 372px;
  height: 38px;
}

.button-catalog {
  background-color: #70C05B;
  color: white;
  border: 0;
  border-radius: 4px;
  width: 140px;
  height: 40px;
}

.button-catalog {
  display:flex;
  justify-content:center;
  align-items:center;
}

.button-catalog-line {
  display:flex;
  transform:rotate(180deg);
  width:18px;
  height:1.5px;
  border-radius:1px;
  background-color:white;
  margin-right:15px;
  margin-top:5px;
  margin-bottom:2px;
}

.nav-img-container {
  position: relative;
  top:14px;
}

.nav-orders-img {
  position: absolute;
  bottom: 17px;
  left: 20%;
  margin-bottom: 4px;
}

.nav-favorites-img {
  position: absolute;
  bottom: 17px;
  left: 30%;
  margin-bottom: 4px;
}

.nav-bucket-img {
  position: absolute;
  bottom: 17px;
  left: 15%;
  margin-bottom: 2px;
}

.account-symb {
  margin-left:25px;
}

.user-profile {
  position:absolute;
  top:150px;
  right:275px;
  width:420px;
  height:420px;
  background-color:white;
  color:black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  z-index: 501;
}

.auth-number {
  width:260px;
  height:60px;
}

.search,.auth-number {
  border: 1px solid #70C05B;
  border-radius: 4px;
}


.auth-submit {
  width:260px;
  height:68px;
  border-radius:4px;
  background-color: #FCD5BA;
  color:#FF6633;
  border:0px;
  font-size:24px;
  font-weight: 400;
}

.account {
  position:relative;
  left:40px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px; 
}

.number-label {
  padding-right:188px;
  color:#8F8F8F;
  font-weight: 260;
  font-size:18px;
  font-weight: 400;
 }

.user-actions {
  position:relative;
  top:32px;

}
.registr {
  background-color:white ;
  text-decoration: none;
  color:#70C05B;
  border:1px solid #70C05B;
  border-radius:4px;
  margin-right:31px;
}

.reset {
  text-decoration: none;
  color:#606060;
}

.close-auth {
  position:absolute;
  right:0px;
  top:0px;
  width:40px;
  height:40px;
  border:none;
}

.catalog {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 310px;
  z-index: 5;
  background-color: #FFFFFF;
  left: 0;      
  right: 0;
  top:70px;
  box-shadow: 0 -10px 10px rgba(0.04, 0.04, 0.04, 0.04);
}

.categories {
  display:flex;
  justify-content: center;
  width:1088px;
}

.cat-block {
  padding-left:100px;
  margin-top:10px;
}

.cat {
  color:#414141;
  font-weight:700;
  font-size:16px;
  text-decoration:none;
}

.cat-block p {
  margin-top:30px;
}

.main {
  margin-left:396px;
  display:flex;
  max-width:1208px;
  flex-direction: column;
}

.main-nav {
  margin-top:34px;
}

.section-first,.section-second,.section-third,.section-fourth {
  display:flex;
}

.section-first div {
  margin-right:40px;
}

.main-nav {
  display:flex;
}

.main-nav a {
  text-decoration: none;
  color:#414141;
}

.main-nav a {
  font-weight:400;
  font-size:12px;
}

.main-nav p:nth-child(2),.main-nav p:nth-child(4) {
  padding-left:15px;
  padding-right:15px;
  padding-top:3px;
}

.main h1 {
  padding-bottom:45px;
  font-weight:700;
  font-size:50px;
}

.big-section-element {
  width:584px;
  height:200px;
}

.milk {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/milk.jpg");
}

.bread {
  background: linear-gradient(to bottom, transparent, #FF6633), url("../img/bread.jpg");
}

.vegetables {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/fruits.jpg");
}

.section-element, .big-section-element {
  border-radius:4px;
  color:#FFFFFF;
  font-weight: 700;
  font-size:18px;
}

.section-element p,.big-section-element p{
  position: relative;
  top:160px;
  left:11px;
}

.section-element {
  width:272px;
  height:200px;
}

.section-second div, .section-third div,.section-fourth div {
  margin-right:40px;
  margin-top:40px;
}

.frozen-products {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/frozen.jpg");
}

.beverages {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/beverages.jpg");
}

.confectionary {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/confectionary.jpg");
}           
.tea {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/tea.jpg");
} 

.balakleya {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/balakleya.jpg");
}           
.healthy {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/healthy.jpg");
} 
.pet {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/pet.jpg");
}

.baby {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/baby.jpg");
} 

.meat {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/meat.jpg");
} 

.non-food {
  background: linear-gradient(to bottom, transparent, #70C05B), url("../img/non-food.jpg");
}

footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("../img/footer.jpg");
  height:126px;
  margin-bottom:1px;
  margin-top:80px;
}

.info {
  margin-top:23px;
  margin-left:396px;
  width:1166px;
  height:76px;
  color:#414141;
  font-weight: 400;
  font-size: 14px;

}

.info-inner {
  display:flex;
  margin-top:17px;
}

.info-inner p {
  padding-right:43px;
}

.info-inner div {
  display:flex;
  margin-top:-5px;
  position:relative;
  margin-left:auto;
}

#github,#linkedin {
  padding-right:0;
}

#github {
  color:#000;
  padding-right:15px;
}

#linkedin {
  color:#0077B5;
}

.info-inner a {
  color:#414141;
  text-decoration: none;
}

.visible-button {
  position: absolute;
  right: 90px; 
  top: 150px; 
  background: none;
  border: none;
}

.section-first a,.section-second a,.section-third a,.section-fourth a {
  text-decoration: none;
}

.products {
  width:1208px;
  height:1174px;
}

.filter {
  width:272px;
  height:44px;
  background-color:#F3F2F1;
  display:flex;
  align-items: center;
}

.filter p {
  font-weight: 700;
  font-size: 16px;
  margin-left:10px;
}

.filtered-price {
  display:flex;
  margin-bottom:13px;
}

.filtered-price div {
  width:124px;
  height:40px;
  border-radius: 4px;
  border:1px solid #BFBFBF;
  background-color:#FFFFFF;
  display:flex;
  align-items: center;
}

.filtered-price div p {
  margin-left:16px;
}

.line { 
  margin-top:8px;
  margin-left:3px;
  margin-right:3px;
}

.price-wrapper {
  display:flex;
  margin-bottom:14px;
}

.price {
  color:#000000;
  margin-right:148px;
  font-weight: 400;
  font-size: 16px;
}

.price-clear {
  background-color: #F3F2F1;
  width:85px;
  height:32px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#606060;
  font-weight: 400;
  font-size: 12px;
  border-radius:4px;
}

.price-clear:active {
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1); 
}

.price-clear:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.content {
  position:absolute;
  right:355px;
}

.products-row {
  display:flex;
}
